<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home" href="#">

        <img src="assets/img/logom.png" width="30" height="30" alt=""> MusicBox
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " routerLink="home">Home </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link " routerLink="profile">Profile</a>
            </li>
            <!-- <li class="nav-item " routerLinkActive="active">
                <a class="nav-link " routerLink="search">Search</a>
            </li> -->
            <!-- <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                Dropdown
              </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown ">
                    <a class="dropdown-item " href="# ">Action</a>
                    <a class="dropdown-item " href="# ">Another action</a>
                    <div class="dropdown-divider "></div>
                    <a class="dropdown-item " href="# ">Something else here</a>
                </div>
            </li> -->
            <!-- <li class="nav-item ">
                <a class="nav-link disabled " href="# " tabindex="-1 " aria-disabled="true ">Disabled</a>
            </li> -->
        </ul>




        <ul class="navbar-nav ml-auto nav-flex-icons">
            <form class="form-inline my-2 my-lg-0 ">
                <input #termino (keyup.enter)="buscar(termino.value)" class="form-control mr-sm-2" placeholder=" Search ">
                <button (click)="buscar(termino.value)" class="btn btn-outline-success my-2 my-sm-0 " type="button ">Search</button>
            </form>
            <li class="nav-item " routerLinkActive="active">
                <div *ngIf="usu"><a class="nav-link " *ngIf="usu[0].nombre != 'undefined' ">Logged: {{isLogged}} {{usu[0].nombre}}</a></div>

            </li>

            <li class="nav-item avatar">
                <a class="nav-link p-0 pointer" *ngIf="usu">
                    <div *ngIf="usu[0].nombre != 'undefined' "> <img [src]="usu[0].photo " routerLink="profile" class="rounded-circle z-depth-0" alt="avatar image" height="35"></div>

                </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link "></a>
            </li>
            <button class="btn btn-outline-danger" (click)="signout()">salir</button>
        </ul>


    </div>

</nav>